<div class="container mt-4">
    <h2>Promena lozinke</h2>
    <form>
      <div class="form-group mb-3">
        <label for="username">Unesite svoj username:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
      </div>
  
      <div class="form-group mb-3">
        <label for="oldPassword">Unesite staru lozinku:</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword">
      </div>
  
      <div class="form-group mb-3">
        <label for="newPassword">Unesite novu lozinku:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
      </div>
  
      <div class="form-group mb-3">
        <label for="newPassword2">Unesite ponovo novu lozinku:</label>
        <input type="password" class="form-control" id="newPassword2" name="newPassword2" [(ngModel)]="newPassword2">
      </div>
  
      <button type="button" class="btn btn-primary" (click)="changePassword()">Promeni lozinku</button>
    </form>
  
    <br>
    <p class="text-success">{{message}}</p>
  </div>
  